.button {
   border: 1px solid #ffffff;
   background: #18db59;
   background: -webkit-gradient(linear, left top, left bottom, from(#12e8bd), to(#18db59));
   background: -webkit-linear-gradient(top, #12e8bd, #18db59);
   background: -moz-linear-gradient(top, #12e8bd, #18db59);
   background: -ms-linear-gradient(top, #12e8bd, #18db59);
   background: -o-linear-gradient(top, #12e8bd, #18db59);
   background-image: -ms-linear-gradient(top, #12e8bd 0%, #18db59 100%);
   padding: 14.5px 29px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #153e57 0 1px 0;
   color: #06426c;
   font-size: 18px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border: 1px solid #0a3c59;
   text-shadow: #152e3d 0 1px 0;
   background: #699e0c;
   background: -webkit-gradient(linear, left top, left bottom, from(#11eb4e), to(#699e0c));
   background: -webkit-linear-gradient(top, #11eb4e, #699e0c);
   background: -moz-linear-gradient(top, #11eb4e, #699e0c);
   background: -ms-linear-gradient(top, #11eb4e, #699e0c);
   background: -o-linear-gradient(top, #11eb4e, #699e0c);
   background-image: -ms-linear-gradient(top, #11eb4e 0%, #699e0c 100%);
   color: #472d47;
   }
.button:active {
   text-shadow: #1e4158 0 1px 0;
   border: 1px solid #0a3c59;
   background: #96db1f;
   background: -webkit-gradient(linear, left top, left bottom, from(#b8d622), to(#699e0c));
   background: -webkit-linear-gradient(top, #b8d622, #96db1f);
   background: -moz-linear-gradient(top, #b8d622, #96db1f);
   background: -ms-linear-gradient(top, #b8d622, #96db1f);
   background: -o-linear-gradient(top, #b8d622, #96db1f);
   background-image: -ms-linear-gradient(top, #b8d622 0%, #96db1f 100%);
   color: #fff;
   }
